<%- include("./partials/header") %>


<nav class="navbar bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">ToDo APP</a>
    </div>
  </nav>

<div class="container mt-5">
    <form action="/add/todo" method="post" class="d-flex">
        <input type="text" name="todo" class="form-control" placeholder="enter todo">
        <input type="submit" value="ADD todo" class="btn btn-sm btn-primary">
    </form>

    <ul class="list-group my-5">
        <% todo.forEach(todos => { %>
            <li class="list-group-item"> <%= todos.todo %> </li>

            <a href="/delete/todo/<%= todos._id %>" class="btn btn-danger btn-sm">Delete</a>
       <% }) %>

      </ul>
</div>
<%- include("./partials/footer") %>